# Ignorar todo por defecto
*

# Pero NO ignorar los archivos .s (prácticas en ensamblador)
!*.s

# Ignorar archivos objeto y ejecutables temporales
*.o
p[0-9]*

# Pero NO ignorar los archivos .s con el formato pX.s
!p*.s
